@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;700;900&display=swap");
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%; /*1rem = 16px; 10px/16px = 62.5% */
}

img {
  max-width: 100%;
}

a:focus,
a:hover,
input:focus,
textarea:focus,
button:focus {
  text-decoration: none;
  outline: none;
}
i,
span,
a {
  display: inline-block;
}

ul,
ol {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  vertical-align: middle;
}
p {
  font-size: 1.6rem;
  color: #000000;
}
body {
  font-family: "Mulish", sans-serif;
  color: #fff;
  background: #f2740d;
}
h2 {
  font-size: 5.2rem;
}
h4 {
  font-size: 2.5rem;
}
.container {
  width: 100%;
  max-width: 1199px;
  margin: 0 auto;
  position: relative;
  padding: 0 15px;
}
.header {
  margin: 3rem 0;
}
.btn-primary {
  background: #d75a15;
  padding: 1.6rem;
  color: #fff;
  font-weight: 700;
  border: 0;
  border-radius: 5px;
  width: 50%;
  margin: 4rem auto 0;
  display: block;
}
.btn-outline {
  background: transparent;
  padding: 1.6rem;
  line-height: 1.9rem;
  color: #333333;
  font-weight: 400;
  border: 0;
  border-radius: 5px;
  width: 50%;
  margin: 2.5rem auto 0;
  display: block;
}
.btn-grp .btn-primary {
  width: auto;
  margin: 0;
  padding: 15px 55px;
}
.btn-grp .btn-outline {
  width: auto;
  margin: 0;
  padding: 15px 10px;
}
.btn-grp {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
  width: 100%;
}
.space-between {
  justify-content: space-between;
}
.form-input .label {
  color: #1e1e1e;
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 10px;
  display: block;
}
.form-input .input-box:focus {
  outline: none;
}
.form-input .input-box {
  font-size: 1.6rem;
  font-weight: 400;
  padding: 12px 15px;
  border-radius: 10px;
  border: 1px solid #c0c0c0;
  width: 100%;
  color: #333333;
}
.form-input .input-select:focus {
  outline: none;
}
.form-input .input-select {
  font-size: 1.6rem;
  font-weight: 400;
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #c0c0c0;
  width: 100%;
  appearance: none;
  color: #333333;
  background: url("../src/assets/images/dropdown-arrow.svg") no-repeat 95% 50%;
}
.form-input {
  margin-bottom: 1.5rem;
}
.pan-card{
  text-transform: uppercase;
}
.checkbox-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.custom-checkbox {
  width: 155px;
  height: 87px;
  border: 1px solid #bababa;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 2rem;
  text-align: center;
}
.custom-checkbox.active {
  border: 1px solid #f37e20;
  border-radius: 4px;
}
.custom-checkbox .circle {
  border: 0.5px solid #bababa;
  height: 25px;
  width: 25px;
  border-radius: 50%;
}
.custom-checkbox.active .circle {
  border: 0.5px solid #f37e20;
}

.custom-checkbox span {
  font-style: normal;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.8rem;
  color: #333333;
  display: block;
  margin-top: 5px;
}
.custom-checkbox.active span {
  color: #f37e20;
}

.top-section {
  width: 100%;
  height: 750px;
  background: url("../src/assets/images/banner-bg.jpg") no-repeat top center
    #f2740d;
  background-size: cover;
}
.top-section .content-side {
  width: 636px;
  height: 750px;
  position: relative;
}
.top-section .form-side {
  width: 36.4rem;
  min-height: 60rem;
  height: auto;
  background: #fff;
  padding: 30px 20px;
  position: absolute;
  right: 7rem;
  top: 4rem;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 1.4rem;
}
.top-section .form-side .stepper {
  width: 21.5rem;
  margin: 0 auto 2rem;
}
.top-section .form-side .steps-div .btn-box,
.top-section .form-side .steps-div .form-box {
  width: 100%;
}
.top-section .form-side .steps-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 50rem;
  height: auto;
}
.top-section .form-side .stepper ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.top-section .form-side .stepper ul li::after {
  content: "";
  height: 2px;
  width: 35px;
  position: absolute;
  left: 128%;
  top: 8px;
  background: #e3e3e3;
}
.top-section .form-side .stepper ul li:last-child:after {
  content: "";
  width: 0;
}

.top-section .form-side .stepper ul li {
  position: relative;
  background: #fff;
  border: 1px solid #e3e3e3;
  height: 20px;
  width: 20px;
  border-radius: 50%;
}
.top-section .form-side .stepper ul li img {
  display: none;
}
.top-section .form-side .stepper ul li.active {
  background: #f37e20;
  border: 1px solid #f2720b;
}
.top-section .form-side .stepper ul li.completed img {
  display: block;
}

.top-section .form-side .stepper ul li.completed {
  background: #f37e20;
  border: 1px solid #f2720b;
  display: flex;
  justify-content: center;
  align-items: center;
}
.top-section .form-side h3 {
  font-size: 2rem;
  color: #f4852b;
  margin-bottom: 2rem;
}

.top-section .content-side .anil-kapoor-image {
  position: absolute;
  right: 0;
  bottom: 0;
}
.top-section .content-side h2 {
  font-size: 4.8rem;
  font-weight: 900;
}

.top-section .content-side h2 span {
  display: block;
  font-size: 3.6rem;
  font-weight: 500;
}
.top-section .content-side h3 {
  font-size: 3.4rem;
  font-weight: 900;
  height: 64px;
  width: 268px;
  display: flex;
  justify-content: center;
  margin: 0;
  align-items: center;
  background: url("../src/assets/images/text-bg.png") no-repeat center;
  margin-top: 28px;
}
.benefits-section .title p {
  margin: 1.5rem auto 4.5rem;
  color: #ececec;
  font-weight: 500;
  width: 51rem;
}
.benefits-section {
  text-align: center;
  padding-top: 10.8rem;
}
.benefits-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 89.6rem;
  margin: 0 auto;
}
.benefits-container .benefits-box img {
  display: block;
  margin: 0 auto;
}
.benefits-container .benefits-box {
  background: #fff;
  height: 30rem;
  width: 43.3rem;
  border-radius: 1.2rem;
  padding: 3rem;
  color: #666666;
  text-align: center;
  margin-bottom: 3.4rem;
  border-width: 1px;
  border-color: rgb(242, 117, 12);
  border-style: solid;
}
.benefits-container .benefits-box p {
  font-weight: 700;
}
.benefits-container .benefits-box h4 {
  margin: 2.2rem 0 2rem;
  color: #d75a15;
  min-height: 6.3rem;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.art-security-section {
  width: 89.6rem;
  margin: 6rem auto 11.9rem;
  text-align: center;
  background: #fff;
  border-radius: 3rem;
  border-width: 1px;
  border-color: rgb(255, 255, 255);
  border-style: solid;
  padding: 4rem 15.4rem;
}
.art-security-section .title h2 {
  margin: 1.5rem auto 4.5rem;
  font-size: 4.7rem;
  color: #d75a15;
}
.art-security-section .art-security img {
  margin: 7.2rem auto 5.2rem;
}
.art-security-section .art-security p {
  font-size: 1.8rem;
  line-height: 3.626rem;
  font-weight: 700;
  color: #666666;
}

.footer {
  border-top: 1px solid #f79d4c;
  padding: 2.5rem 0;
}
.footer .box p {
  color: #fff;
  font-size: 1.2rem;
  line-height: 2rem;
  font-weight: 700;
}
.footer .box a {
  color: #000000;
  font-size: 1.2rem;
  line-height: 2rem;
  font-weight: 700;
}
.footer .box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.result-box {
  height: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.result-box p {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.8rem;
  text-align: center;
  color: #333333;
}
.result-box h4 {
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2.3rem;
  text-align: center;
  color: #f37e20;
  margin: 3rem 0 2rem;
}
/* range Slider */
.label-container span {
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 1.4rem;
  color: #666666;
}
.label-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.rangeslider {
  background: #e4e4e4;
  touch-action: none;
  box-shadow: none;
  height: 6px;
  margin: 3rem 0;
}
.rangeslider-horizontal .rangeslider__fill {
  background-color: #f37e20;
  box-shadow: none;
}
.rangeslider .rangeslider__handle {
  background: #f37e20;
  border: 1px solid #f37e20;
  box-shadow: none;
}
.rangeslider-horizontal .rangeslider__handle:after {
  background-color: #ffffff;
  box-shadow: none;
}
.input-with-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.input-with-btn .prefix-text {
  width: 44px;
  border: 1px solid #c0c0c0;
  padding: 12px 7px;
  border-radius: 10px;
  margin-right: 10px;
  font-size: 1.6rem;
  font-weight: 400;
}
.input-with-btn .input-text {
  width: 246px;
  border: 1px solid #c0c0c0;
  border-right: 0;
  padding: 12px 15px;
  border-radius: 10px;
  font-size: 1.6rem;
  font-weight: 400;
}
.input-with-btn .btn {
  padding: 14px 5px;
  width: 80px;
  background: #f37e20;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  border: 0;
  margin-left: -10px;
}

.input-with-select {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.input-with-select .input-day {
  width: 74px;
  border: 1px solid #c0c0c0;
  padding: 12px 15px;
  border-radius: 10px;
  font-size: 1.6rem;
  font-weight: 400;
}
.input-with-select .input-select {
  width: 124px;
  border: 1px solid #c0c0c0;
  padding: 12px 15px;
  border-radius: 10px;
  font-size: 1.6rem;
  font-weight: 400;
  margin: 0 10px;
  background-position-x: 89%;
}
.input-with-select .input-year {
  width: 99px;
  border: 1px solid #c0c0c0;
  padding: 12px 15px;
  border-radius: 10px;
  font-size: 1.6rem;
  font-weight: 400;
}
.terms-condition {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
}
.terms-condition a,
.terms-condition a:hover {
  color: #f37e20;
  text-decoration: none;
}

.terms-condition p {
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.9rem;
  color: #000000;
  margin-left: 10px;
}
.top-header{
  display: none;
}
.form{
  width: 100%;
}
.error-msg{
  color: #a31b13;
  font-size: 1.4rem;
}
@media screen and (max-width: 767px) {
  .container{
    padding: 0;
  }
  .top-header{
    display: block;
    padding: 0 20px;
    text-align: center;
  }
  .header {
    margin: 2rem 1.5rem 3rem;
}
  h2 {
    font-size: 2.5rem;
  }
  h4 {
    font-size: 2rem;
  }
  .benefits-container .benefits-box p {
    font-weight: 400;
  }
  .benefits-section {
    padding: 10.8rem 15px 0;
    width: auto;
  }
  .benefits-container,
  .art-security-section,
  .top-section .content-side,
  .benefits-section .title p {
    width: 100%;
  }
  .art-security-section {
    padding: 20px;
    margin: 0 20px 5rem;
    width: auto;
    border-radius: 10px;
  }
  .top-section {
    background-image: none;
    height: auto;
    overflow: hidden;
  }
  .top-section .form-side {
    position: relative;
    top: auto;
    right: auto;
    width: auto;
    margin: 40px 15px 40px 15px;
    height: auto;
  }
  
  .top-section .content-side .anil-kapoor-image {
    position: absolute;
    right: -125px;
    bottom: 0px;
  }
  .top-section .content-side h2 {
    font-size: 2.8rem;
    font-weight: 900;
    padding: 0 15px;
  }
  .top-section .content-side h3 {
    font-size: 2rem;
    height: 48px;
    width: 200px;
    background-size: cover;
    margin-left: 15px;
  }
  .top-section .content-side {
    position: relative;
    margin-top: 4rem;
    padding-top: 4rem;
    background: url('../src/assets/images/banner-mobile-bg.png') no-repeat center bottom;
    background-size: cover;
  }
  .art-security-section .title h2 {
    font-size: 2.5rem;
  }
  .art-security-section .art-security img {
    margin: 2.5rem 0;
  }
  .art-security-section .art-security p {
    font-weight: 400;
    line-height: 2.5rem;
  }
  .footer {
    padding: 3rem 4rem 1rem;
  }
  .footer .box {
    display: block;
  }
  .footer .box p{
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 2rem;
  }
}
